:root
{
    --theme-heading: #CC9900;
    --theme-heading-hover: #b28704;
    --theme-old-yellow: #7D611F;
    --theme-text: #666666;
    --theme-hover-text: #454444;
    --theme-grey: #CCCCCC;
    --theme-white: #fffffff3;
    --theme-black: #0e0e0e;
    --theme-blue: #014c8c;
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html body
{
    font-family: 'Open Sans';
}
.container
{
    max-width: 1320px;
    padding: 0 15px;
    margin: 0 auto;
}
a
{
    display: inline-block;
    text-decoration: none;
    color: inherit;
}
img
{
    display: block;
    width: 100%;
}
ul li
{
    list-style: none;
}

/* Properties Classes Starts */
.row
{
    display: flex;
    flex-wrap: wrap;
}
.d-flex
{
    display: flex;
}
.justify-content-center
{
    justify-content: center;
}
.justify-content-space-between
{
    justify-content: space-between;
}
.align-items-center
{
    align-items: center;
}
.col-3
{
    width: 25%;
    padding: 15px;
}
.col-4
{
    width: 33.33%;
    padding: 15px;
}
.col-5
{
    width: 41.65%;
    padding: 15px;
}
.col-6
{
    width: 50%;
    padding: 15px;
}
.col-7
{
    width: 58.31%;
}
.col-8
{
    width: 66.66%;
}
.col-12
{
    width: 100%;
    padding: 15px;
}

/* Margin Classes Starts */
.mtb-1
{
    margin: 1rem 0;
}
.mt-4
{
    margin-top: 4rem;
}
.my-1
{
    margin: 1.5rem 0;
}
.pt-0
{
    padding-top: 0;
}
/* Margin Classes End */

/* Properties Classes Ends*/

/* Classes And Id's Section Starts */

/* button Section Stars */
.btn
{
    color: var(--theme-white);
    font-weight: 300;
    background-color: var(--theme-heading);
    padding: .7rem 2rem;
    border-radius: 5px;
    text-transform: uppercase;
    transition: all .3s ease;
}
.btn:hover
{
    background-color: var(--theme-heading-hover);
}
/* button Section Ends */

/* Header Section Starts */
header 
{
    padding: 2rem 0;
}
header .navbar .logo
{
    font-size: 36px;
    font-weight: 400;
    color: var(--theme-heading);
    transition: all .3s ease;
}
header .navbar .logo:hover
{
    color: var(--theme-blue);
}
header .navbar nav .navlinks li a
{
    font-size: 18px;
    font-weight: 400;
    color: var(--theme-black);
    padding: 1rem 2rem;
    margin: 0 5px;
    transition: all .3s ease;
}
header .navbar nav .navlinks li:first-child a
{
    background-color: var(--theme-heading);
    color: var(--theme-white);
    border-radius: 8px;
}
header .navbar nav .navlinks li a:hover
{
    background-color: var(--theme-heading);
    color: var(--theme-white);
    border-radius: 8px;
}
header .navbar .toggler
{
    padding: .8rem 1.2rem;
    border: 1px solid var(--theme-heading);
    background-color: var(--theme-white);
    border-radius: 3px;
    text-align: center;
    display: none;
}
header .navbar .toggler .fa-bars
{
    font-size: 21px;
    color: var(--theme-heading);
}
/* Header Section Ends */

/* Hero's Section Starts */
.hero
{
    height: 600px;
    background-image: url(../images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/* Hero's Section Ends */

/* Introduction Section Starts */
.introduction .introduction-heading
{
   text-align: center;
}
.introduction .introduction-heading h3
{
    font-size: 30px;
    font-weight: 500;
    color: var(--theme-heading);
}
.introduction .introduction-heading p
{
    font-size: 23px;
    font-weight: 300;
    margin: 2rem 0;
    color: var(--theme-text);
    line-height: 2;
}

/* Introduction Card Section Starts */

/* Introduction Card Section End */
.introduction .card 
{
    margin: 0 10px;
}
.introduction .card .card-img img
{
    height: 180px;
    object-fit: cover;
    object-position: center;
}
.introduction .card .card-body h3
{
    font-size: 21px;
    font-weight: 400;
    color: var(--theme-heading);
    word-spacing: 3px;
}
.introduction .card .card-body p
{
    font-size: 18px;
    font-weight: 300;
    color: var(--theme-text);
    line-height: 2;
}
/* Introduction Section Ends */

/* Blog Section Starts */
.blog
{
    margin-top: 80px;
}
.blog .col-6 article h2,
.blog .col-6 .categories h2,
.blog .col-12 h2,
footer .col-6 .footer-box-2 h2
{
    font-size: 24px;
    font-weight: 400;
    color: var(--theme-heading);
}
.blog .col-6 article p,
.blog .col-6 .categories p
{
    margin: 1.3rem 0;
    font-size: 18px;
    font-weight: 300;
    color: var(--theme-text);
    line-height: 2;
}
.blog .categories ul
{
    margin-top: 2rem;
}
.blog .col-6 .categories ul li a
{
    color: #3f3f8d;
    text-decoration: underline;
    margin-top: 1rem;
    transition: all .4s ease;
}
.blog .col-6 .categories ul li a:hover
{
    text-decoration: none;
}
.blog .col-5 img
{
    object-fit: cover;
    object-position: top;
}
.blog .col-7
{
    padding: 0 1rem;
}
.blog .post-body 
{
    padding-bottom: 16px;
    border-bottom: 1px solid var(--theme-grey);
}
.blog .post-body h4
{
    font-size: 21px;
    font-weight: 400;
    color: var(--theme-heading);
    margin-bottom: .7rem;
}
.blog .post-body p
{
    font-size: 16px;
    font-weight: 300;
    color: var(--theme-text);
}
/* Blog Section Ends */

/* Footer Starts */
footer
{
    background-image: url(../images/footer-bg-image.png);
}
footer .col-3 h2,
footer .col-3 .footer-box-3 h2
{
    color: var(--theme-heading);
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 20px;
}
footer .col-3 .box-1-body
{
    padding: 1.5rem;
    background-color: var(--theme-grey);
    font-weight: 300;
} 
footer .col-3 .box-1-body p
{
    margin-bottom: 10px;
    line-height: 1.9;
    font-size: 14px;
}
footer .col-3 .box-1-body h4
{
    margin: 20px 0;
}
footer .col-3 .footer-box-2 ul li 
{
    margin: 10px 0;
}
footer .col-3 .footer-box-2
{
    padding: 0 10px;
}
footer .col-3 .footer-box-2 ul li a
{
    color: var(--theme-heading);
    text-decoration: underline;
    margin-top: 1rem;
    transition: all .4s ease;
}
footer .col-3 .footer-box-2 ul li a:hover
{
    text-decoration: none;
}
footer .col-3 .footer-box-3 p
{
    margin-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--theme-grey);
    color: var(--theme-grey);
}
footer .col-3 .footer-box-3 .last-p
{
    border-bottom: none;
}
footer .row .col-4
{
    padding: 0;
}
footer .col-3 .footer-box-4 p
{
    color: var(--theme-grey);
    margin: 20px 0;
}
footer .footer-box-4-body .col-4
{
    padding: 0 5px 5px 0;
}
footer .btn
{
    background-color: var(--theme-text);
    transition: all .4s ease;
}
footer .btn:hover
{
    background-color: var(--theme-hover-text);
}
footer .copyright p
{
    color: var(--theme-grey);
}
/* Footer End */

/* Classes And Id's Section Ends */